.app-container {
  display: flex;
  flex-direction: column;
  margin: 10%;
  .page-title {
    text-align: center;
  }
  .card {
    border: 1px solid black;
    margin: 10px;
  }
  .title-field {
    min-height: 50px;
  }
  .context-container {
    display: flex;
  }
  .context-field {
    min-height: 300px;
  }
}
